<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347297738621-c259l81eqiirj8rjn4o1tlbhcl3s8a7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347297738621-c259l81eqiirj8rjn4o1tlbhcl3s8a7j</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Q208fiKYbkhn4chifacCi9f6lJjPE4g</string>
	<key>GCM_SENDER_ID</key>
	<string>347297738621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usalife.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>medvalut-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>medvalut-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347297738621:ios:daec479f26529d2a5d2614</string>
</dict>
</plist>